
<div class="container">
    <p>Total Items in Cart = {{shoppingCart.itemsList.length}}</p>
    <div class="agile_top_brands_grids" ng-repeat="item in shopItemsList">
        <div class="col-md-2 top_brand_left" >
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1"  >
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <a href="single.html"><img title=" " alt=" " src="../images/{{item.id}}.png"></a>
                                    <p>{{item.name}}</p>
                                    <h4>$ {{item.price}}</h4>

                                </div>
                                <div class="snipcart-details top_brand_home_details">
                                    <fieldset>
                                        <input ng-click="addItemToCart(item)" type="submit"  value="Add to cart" class="button">
                                    </fieldset  >
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>